$def with ()
<!DOCTYPE html>

<html>
<head>
	<base href="static/" target="_blank">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
	<title>Console 4</title>
	<script>
	var Ext = Ext || {};
	Ext.theme = {
		name: ""
	};
	</script>

	<link rel="stylesheet" type="text/css" href="ext/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
	<script type="text/javascript" src="ext/build/ext-all-debug.js"></script>
	<script type="text/javascript" src="ext/packages/ext-theme-neptune/build/ext-theme-neptune.js"></script>

	<script type="text/javascript" src="ext-main.js"></script>
</head>
<body></body>
</html>
